/* * {
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-size:1rem;
} */

/* html {
	font-size:62.5%;
} */


form {
	margin: 0 auto;
	border: 1px solid gray;
}

body {
	overflow-x: hidden;
}

/* -------------------navbar------------------ */
.nav-link {
	text-align: center;
	color: white;
	border: 1px solid white;
	width: 80px;
	font-family: 'Inconsolata', monospace;
}

.nav-link:hover {
	background-color: white;
	color: black;
}

.ico {
	color: white;
}

.ico:hover {
	color: #F6F25D;
}


/* -------------------homePage------------------ */
.homePage {
	height: 100vh;
	background: url('images/DSC_0012.jpg') no-repeat center;
	background-size: cover;
	opacity: 0.8;
	color: white;
}

.homePage h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 3em;
}

.homePage h2 {
	font-family: 'Inconsolata', monospace;
	text-decoration: underline;
}

.homePage i {
	font-size: 3em;
}

.titre {
	margin-top: 40vh;
	margin-left: 45vh;
}

.arrow {
	margin-top: 35vh;
}

.arrow1 {
	margin-top: -8vh;
}

.arrow1 i {
	font-size: 3em;
}

.icoArrow {
	color: white;
}

.icoArrow:hover {
	color: #F6F25D;
}


/* -------------------Page------------------ */
#start {
	padding-top: 10vh;
	height: 100vh;
	background-color: #9C27B0;
	position: relative;
	opacity: 0.7;
	z-index: 1;
}

#back {
	height: 100vh;
	width: 100%;
	background: url('images/office-381228_1920.jpg') no-repeat center;
	background-size: cover;
	position: absolute;
	z-index: 0;
}

.menuCard {
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.card {
	height: 40vh;
	border: 1px solid white;
	background: transparent;
	color: white;
	font-family: 'Inconsolata', monospace;
	font-size: 2em;
}

.card:hover {
	color: black;
	text-decoration: none;
}

.flex1 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}


.flex2 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.flex:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 3px #505050;
    border-left: 2px outset #505050;
	border-top: 1px outset #505050;
	background-color: #F6F25D;
}


/* -------------------Page1------------------ */
#next {
	padding-top: 10vh;
	height: 100vh;
	background-color: #E91E63;
	position: relative;
	opacity: 0.7;
	z-index: 1;
}

#back1 {
	height: 100vh;
	width: 100%;
	background: url('images/bokeh-1033539_1920.jpg') no-repeat center;
	background-size: cover;
	position: absolute;
	z-index: 0;
}


/* -------------------Media------------------ */
@media (max-width: 1199px) {
	
	.titre {
		margin-top: 40vh;
		margin-left: 40vh;
	}
}

@media (max-width: 991px) {
	.titre {
		margin-top: 40vh;
		margin-left: 30vh;
	}

	.homePage h1 {
		font-size: 2em;
	}

	.menu {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.icoMenu {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
}

@media (max-width: 767px) {
    .titre {
		margin-top: 40vh;
		margin-left: 0;
	}

	.arrow {
		display: none;
	}

	.arrow1 {
		display: none;
	}

	.homePage {
		background: black;
	}

	.menu {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.icoMenu {
		display: none;
	}

	#back {
		display: none;
	}

	#back1 {
		display: none;
	}

	.card {
		height: 15vh;
		
	}

	.flex {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 2px 2px 3px #505050;
    	border-left: 2px outset #505050;
		border-top: 1px outset #505050;
		background-color: white;
		color: black;
	}

	.flex:hover {
		background-color: #F6F25D;
		color: black;
	}

	#start {
		padding-top: 5vh;
	}
}
